/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variables */
:root {
  --color-black: #1c1c1c;
  --color-olive: #A3BCB6;
  --color-red: #e85a4f;
  --color-white: #eefbfb;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-olive);
  color: var(--color-black);
  font-size: 15px;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
  margin: 0;
  line-height: 23px;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */
.container {
  border: 3px solid var(--color-black);
  max-width: 900px;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 5px;
  height: 100vh;
}

.section-container {
  display: inline-block;
  width: 590px;
  padding: 15px 30px;
}

/* Links */
.link {
  text-decoration: none;
  color: var(--color-red);
  position: relative;
}

.link::before{
  content: "";
  position: absolute;
  background: var(--color-black);
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: .3s;
}

.link:hover::before{
  width: 100%;
}

/* Header */
.header {
  text-align: center;
  padding: 20px 0;
  margin: 10px 30px;
  border: 2px solid var(--color-olive);
}

/* Lists */
.list__item{
  padding-bottom: 10px;
}

.list__icon {
  font-size: 25px;
  vertical-align: middle;
  padding-right: 10px;
  color: var(--color-red);
}

.list-styled {
  list-style-position: inside;
}

/* Aside */
.aside {
  width: 300px;
  padding: 15px 30px;
  flex-direction: column;
  float: left;
}

.aside ul {
  list-style: none;
}

.aside__avatar {
  width: 150px;
  border-radius: 3px;
  border: 2px solid var(--color-olive);
  margin-bottom: 30px;
}

.aside__contact, .aside__skill {
  margin-bottom: 30px;
}

/* Projects */
.project__description{
  margin-bottom: 10px;
}
